body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #121212;
    color: #FFFFFF;
    min-height: 100vh;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

.filters {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 0.5s ease, transform 0.5s ease;
}

.filters select {
    background-color: #333;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 10px;
    margin: 0 10px;
    font-size: 1em;
}

.filters button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #1DB954;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.filters button:hover {
    background-color: #1ed760;
}

.stats {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    margin-top: 100px; /* Ensure stats are pushed down initially */
}

.stat-item {
    background-color: #242424;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    min-width: 250px; /* Set a minimum width */
    flex: 1 1 calc(25% - 40px); /* Adjust width to fit 4 items in a row with gaps */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
    border: #fff 1px solid;
}

.stat-item h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.stat-item p {
    font-size: 16px;
    margin: 0;
}

.hidden{
    display: none;
}

#back{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: large;
    background-color: #1DB954;
    color: #000000;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1200px) {
    .stat-item {
        flex: 1 1 calc(33.33% - 40px); /* Adjust width to fit 3 items in a row with gaps */
    }
}

@media (max-width: 900px) {
    .stat-item {
        flex: 1 1 calc(50% - 40px); /* Adjust width to fit 2 items in a row with gaps */
    }
}

@media (max-width: 600px) {
    .stat-item {
        flex: 1 1 calc(100% - 40px); /* Adjust width to fit 1 item in a row with gaps */
    }
}

@media (max-width: 1000px) {
    body {
        font-size: 14px;
    }

    .container {
        padding: 15px;
    }

    .filters {
        flex-direction: column;
        position: static;
        transform: none;
        margin-bottom: 15px;
    }

    .filters select, .filters button {
        margin: 5px 0;
        width: 100%;
        font-size: 0.9em;
    }

    .stats {
        margin-top: 50px;
    }

    .stat-item {
        flex: 1 1 calc(50% - 40px); /* Adjust width to fit 2 items in a row with gaps */
        margin: 10px 0;
    }

    #back {
        top: 5px;
        left: 5px;
        width: 30px;
        height: 30px;
        font-size: medium;
    }
}


@media (max-width: 900px) {
    body {
        padding: 10px;
    }

    .container {
        padding: 10px;
    }

    .filters {
        flex-direction: column;
        position: static;
        transform: none;
        margin-bottom: 10px;
    }

    .filters select, .filters button {
        margin: 5px 0;
        width: 100%;
    }

    .stats {
        margin-top: 20px;
    }

    .stat-item {
        flex: 1 1 100%;
        margin: 10px 0;
    }

    #back {
        top: 5px;
        left: 5px;
        width: 30px;
        height: 30px;
        font-size: medium;
    }
}