body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.searchbar {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #242424;
    color: #fff;
}

.searchbar input[type="text"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.searchbar button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1DB954;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}

.searchbar {
    display: flex;
    align-items: center;
}

#searchResults {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #242424;
    color: #fff;
    text-align: center;
    display: block;
}

.searchButton {
    background-color: #1DB954;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.searchButton:hover {
    background-color: #1ed760;
}

.playback {
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #1DB954;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: background-color 0.3s ease;
}


.playback:hover {
    background-color: #1ed760;
}